
<html>
<head>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<title>Revalidanten</title>

	<script src="jquery-1.10.1.min.js"></script>
      <style>
            
            
      </style>
</head>
<body>
	<div>
		<canvas id="rehabCanvas" class="canvas"></canvas>
	</div>
      <div>
            <center>
                  <input type="button" value="Speel spel" onclick="window.location = '/map'"/>
            </center>
      </div>
	
	<script>
      var canvas = document.getElementById('rehabCanvas');
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight - 100;
      var context = canvas.getContext('2d');
//      var centerX = canvas.height / 2;
      var centerX = 100;
      var centerY = 100;
      var radius = 70;
      
      context.beginPath();
      context.moveTo(200, 10);
      context.lineTo(200, window.innerHeight);
      context.stroke();
      
      var models = {{{json model}}};
      
      for(var i=0; i<models.length; i++){ 
            //var posX = centerX - radius * models.length + 2.5 * radius * i;
            var posX = centerX + 2.5 * radius * i;
            if(models[i].picture_url != null){
                  
                  loadImg(models[i].picture_url, posX, function(img, newX){
                        context.save();
                        context.beginPath();
                        context.arc(centerY, newX, radius, 0, 2 * Math.PI, false);
                        context.closePath();
                        context.clip();
                        context.drawImage(img,centerY-radius, newX-radius, 140, 140);
                        context.lineWidth = 10;
                        context.strokeStyle = '#003300';
                        context.stroke();
                        context.restore();
                  });
            }else{
                  loadImg('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/718smiley.svg/200px-718smiley.svg.png', posX, function(img, newX){
                        context.save();
                        context.beginPath();
                        context.arc(centerY, newX, radius, 0, 2 * Math.PI, false);
                        context.closePath();
                        context.clip();
                        context.drawImage(img, centerY-radius, newX-radius, 140, 140);
                        context.lineWidth = 10;
                        context.strokeStyle = '#003300';
                        context.stroke();
                        context.restore();
                  });
            }
       }

      
      function loadImg(url, posX, callback){
            var img = new Image();
            img.onload = function(){
                  callback(this, posX);
            };
            img.src = url;
      }
    </script>
</body>
</html>