
<html>
<head>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<title>Splash</title>
	
    <style>
    	*{
			margin:0px;
			padding:0px;

		}

		body, html {
		  height: 100%;
		  width: 100%;
		}
		#splash_bg{
			width:100%;
			height:100%;
		}
		#splash_logo{
		  position: absolute;
		    margin: auto;
		    top: -50;
		    left: 0;
		    right: 0;
		    bottom: 0;
			
		}
    </style>
            
      </style>
</head>
<body>
	<img id="splash_bg" src="imgs/views/splashScreen/temp_bg.png">
	<img id="splash_logo" src="imgs/views/splashScreen/temp_logo.png"></img>
</body>
<script>
	setTimeout(function(){ window.location = '/login'; }, 2000);	
</script>
</html>